.post {
    padding-bottom: 40px;
    max-width: 800px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}

.post__header_lead {
    padding: 20px;
}

.post__date {
    font-weight: normal;
}

.post__image {
    width: 100%;
    object-fit: contain;
    border-bottom: 1px solid lightgray;
}

.post__footer {
    padding: 20px;
    font-weight: normal;
}

.post__footer_actions {
    display: flex;
    flex-direction: row;
}




